{% extends 'base.html' %}
{% block title %}Connexion{% endblock %}

{% block content %}
<div class="row justify-content-center">
  <div class="col-md-5">
    <div class="card p-4">
      <h3 class="mb-4 text-center"><i class="bi bi-droplet-fill text-danger"></i> Connexion</h3>
      <form method="post">
        {% csrf_token %}
        {% for field in form %}
          <div class="mb-3">
            <label class="form-label">{{ field.label }}</label>
            <input type="{{ field.field.widget.input_type }}"
                   name="{{ field.html_name }}"
                   class="form-control {% if field.errors %}is-invalid{% endif %}"
                   value="{{ field.value|default:'' }}">
            {% for error in field.errors %}
              <div class="invalid-feedback">{{ error }}</div>
            {% endfor %}
          </div>
        {% endfor %}
        <button type="submit" class="btn btn-danger w-100">Se connecter</button>
      </form>
      <hr>
      <p class="text-center small">
        Pas encore de compte ?
        <a href="{% url 'inscription_donneur' %}">Donneur</a> |
        <a href="{% url 'inscription_hopital' %}">Hôpital</a>
      </p>
    </div>
  </div>
</div>
{% endblock %}